{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author.first_name }} {{ author.last_name }}</h1>

  <p><strong>Date of Birth:</strong> {{ author.date_of_birth }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Date of Death:</strong> {{ author.date_of_death }}</a></p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for authorbook in author.book_set.all %}
    <hr>
    <p><a href="{% url 'book-detail' authorbook.pk %}"><strong>{{authorbook.title}}</strong></a></p>
    <p class="text-muted"><strong>Summary:</strong> {{authorbook.summary}}</p>
    {% endfor %}
  </div>

{% endblock %}